*.pyc
/.idea
__pycache__/config.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/main.cpython-310.pyc
svitlogram/database/__pycache__/__init__.cpython-310.pyc
svitlogram/database/__pycache__/connect.cpython-310.pyc
svitlogram/database/models/__pycache__/__init__.cpython-310.pyc
svitlogram/database/models/__pycache__/base.cpython-310.pyc
svitlogram/database/models/__pycache__/image_comments.cpython-310.pyc
svitlogram/database/models/__pycache__/image_formats.cpython-310.pyc
svitlogram/database/models/__pycache__/image_raiting.cpython-310.pyc
svitlogram/database/models/__pycache__/images.cpython-310.pyc
svitlogram/database/models/__pycache__/tags.cpython-310.pyc
svitlogram/database/models/__pycache__/users.cpython-310.pyc
svitlogram/repository/__pycache__/__init__.cpython-310.pyc
svitlogram/repository/__pycache__/comments.cpython-310.pyc
svitlogram/repository/__pycache__/image_formats.cpython-310.pyc
svitlogram/repository/__pycache__/image_ratings.cpython-310.pyc
svitlogram/repository/__pycache__/images.cpython-310.pyc
svitlogram/repository/__pycache__/tags.cpython-310.pyc
svitlogram/repository/__pycache__/users.cpython-310.pyc
__pycache__/config.cpython-310.pyc
