<td class="esd-stripe" style="background-color: #fafafa;" bgcolor="#fafafa" align="center">
    <table class="es-content-body" style="background-color: #ffffff;" width="600" cellspacing="0" cellpadding="0"
        bgcolor="#ffffff" align="center">
        <tbody>
            <tr>
                <td class="esd-structure es-p40t es-p20r es-p20l"
                    style="background-color: transparent; background-position: left top;" bgcolor="transparent"
                    align="left">
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="esd-container-frame" width="560" valign="top" align="center">
                                    <table style="background-position: left top;" width="100%" cellspacing="0"
                                        cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td class="esd-block-image es-p5t es-p5b" align="center"
                                                    style="font-size: 0px;"><a target="_blank"
                                                        href="https://e7.pngegg.com/pngimages/492/729/png-clipart-monkey-d-luffy-one-piece-pirate-warriors-chibi-trafalgar-d-water-law-one-piece-chibi-child-hat-thumbnail.png"><img
                                                            src="https://e7.pngegg.com/pngimages/1006/937/png-clipart-monkey-d-luffy-nami-one-piece-chibi-one-piece-food-manga-thumbnail.png"
                                                            alt style="display: block;" width="175"></a></td>
                                            </tr>
                                            <tr>
                                                <td class="esd-block-text es-p40r es-p40l" align="center">
                                                    <p>HI, <b>{{full_name}}!</b></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="esd-block-button es-p40t es-p40b es-p10r es-p10l"
                                                    align="center"><span class="es-button-border"><a
                                                            href="{{host}}api/auth/reset_password/{{token}}"
                                                            class="es-button" target="_blank">RESET PASSWORD</a></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</td>